<html>
<head>
    <meta charset="utf-8" />
    <title>Talleres</title>
    <link rel="stylesheet" href="~/css/NoInician.css" />

</head>
<body>
    @model IEnumerable<ProyectoRegistros.Models.ViewModels.TalleresViewModels>

    <header class="principal">
        <div class="izq">
            <img id="ig1" src="../img/arrow_back.png" />
            <h2>Talleres disponibles</h2>
        </div>
        <img id="ig2" src="../img/logo.png" />
    </header>

    <div class="filtros">

        <div class="buscador">
            <input type="number" min="3" max="100" placeholder="Edad del alumno" />

        </div>
    </div>


    <div class="tablita">
        <div class="tabla-scroll">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Días</th>
                        <th>Espacios</th>
                        <th>Horario</th>
                        <th>Edad</th>
                        <th>Profesor</th>
                        <th>Costo</th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var taller in Model)
                    {
                        <tr>
                            <td>@taller.Nombre</td>
                            <td>@taller.Dias</td>
                            <td>@taller.Espacios</td>
                            <td>@taller.Horario</td>
                            <td>@taller.Edad</td>
                            <td>@taller.Profesor</td>
                            <td>$@taller.Costo</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <script src="~/js/NoInician.js"></script>
</body>
</html>