@model IEnumerable<dynamic>

<div class="tablita">
    <div class="tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tutor</th>
                    <th>Teléfono</th>
                    <th>Teléfono 2</th>
                    <th>Padecimientos</th>
                    <th>Talleres</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.Alumno.Nombre</td>
                        <td>@a.Alumno.Tutor</td>
                        <td>@a.Alumno.NumContacto</td>
                        <td>@a.Alumno.NumSecundario</td>
                        <td>@a.Alumno.Padecimientos</td>
                        <td>
                            @foreach (var t in a.Talleres)
                            {
                                <p>@t.Nombre</p>
                            }
                        </td>
                        <td>
                            <div class="botones">
                                <img src="~/img/edit.png" class="btneditar" data-id="@a.Alumno.Id"
                                     data-nombre="@a.Alumno.Nombre"
                                     data-tutor="@a.Alumno.Tutor"
                                     data-numcontacto="@a.Alumno.NumContacto"
                                     data-numsecundario="@a.Alumno.NumSecundario"
                                     data-padecimientos="@a.Alumno.Padecimientos" />

                                <img class="btneliminar" src="~/img/X.png" data-id="@a.Alumno.Id"
                                     data-nombre="@a.Alumno.Nombre" />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>