@model IEnumerable<ProyectoRegistros.Models.Alumno>

@{
    Layout = "LayoutProfe";
}


<!--MODAL PARA EDITAR-->

<div class="modal" id="modal-EditTaller">
    <form>
        <button class="cerrar" type="button">X</button><br>
        <div id="acomodar">
            <i class="material-symbols-outlined">person</i>
            <h2>Editar alumno</h2>
        </div><br>

        <label>Nombre:</label><br>
        <input class="inputForms" type="text" placeholder="Mariana...."><br>
        <label>Tutor:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..."><br>
        <label>Teléfono:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..."><br>
        <label>Teléfono 2:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..."><br>

        <label>Padecimientos:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..."><br>
        <label>Talleres:</label><br>
        <div class="custom-select">
            <div class="select-header">
                <span>Selecciona opciones</span>
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="select-content">
                <label><input type="checkbox"> Opción 1</label>
                <label><input type="checkbox"> Opción 2</label>
                <label><input type="checkbox"> Opción 3</label>
            </div>
        </div>
        <div class="error" style=" margin-top: 5px; margin-bottom:5px; ">
            <p>El nombre ya existe!</p>
            <p>El nombre del taller ya existe!</p>
        </div>            <div style="display: flex; justify-content: center;">
            <button style="margin: -0vh 0; position:static;" type="submit" class="buttons">Guardar</button>
        </div>
    </form>
</div>

<!--MODAL PARA ELIMINAR-->
<div class="modal" id="modal-DeleteTaller">
    <form style="margin-top:140px;">
        <button class="cerrar" type="button">X</button><br>
        <fieldset style="border:none;">
            <legend>
                <h2>¿Desea eliminar al alumno en alguno de estos talleres?</h2>
                <div class="scroll-eliminar">
                    <table>
                        <thead>
                            <tr>
                                <th>Taller</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AcuarelaKids</td>
                                <td><button class="eliminar-taller">x</button></td>
                            </tr>
                            <tr>
                                <td>Pintura</td>
                                <td><button class="eliminar-taller">x</button></td>
                            </tr>
                            <tr>
                                <td>Violin</td>
                                <td><button class="eliminar-taller">x</button></td>
                            </tr>
                            <tr>
                                <td>Violin</td>
                                <td><button class="eliminar-taller">x</button></td>
                            </tr>

                            <tr>
                                <td>Violin</td>
                                <td><button class="eliminar-taller">x</button></td>
                            </tr>

                            <tr>
                                <td>Violin</td>
                                <td><button class="eliminar-taller">x</button></td>
                            </tr>

                            <tr>
                                <td>Violin</td>
                                <td><button class="eliminar-taller">x</button></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </legend>
        </fieldset>
        <div style="margin: 0vh 0 0 1vw; justify-content: flex-end; display: flex;">
            <button type="submit" class="buttons">Confirmar</button>
        </div>
    </form>
</div>




<div class="filtros">
    <div class="buscador">
        <input type="search" id="fil" placeholder="Nombre..." />

    </div>


</div>


<div class="tablita">
    <div class="tabla-scroll">

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tutor</th>
                    <th>Teléfono</th>
                    <th>Teléfono 2</th>
                    <th>Padecimientos</th>
                    <th>Talleres</th>
                    <th>Opciones</th>
                </tr>

            </thead>

            <tbody>
                @foreach (var alumno in Model)
                {
                    <tr>
                        <td>@alumno.Nombre</td>
                        <td>@alumno.Tutor</td>
                        <td>@alumno.NumContacto</td>
                        <td>@alumno.NumSecundario</td>
                        <td>@alumno.Padecimientos</td>
                        <td>@alumno.Listatalleres</td>
                        <td>
                            <div class="botones">
                                <a href="@Url.Action("Editar", "Home", new { id = alumno.Id, area = "Profe" })">
                                    <img class="btneditar" src="~/img/edit.png" />
                                </a>
                                <a href="@Url.Action("Eliminar", "Home", new { id = alumno.Id, area = "Profe" })" class="btneliminar">
                                    <img class="btneliminar" src="~/img/X.png" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<script src="../js/Administrador.js"></script>
