@model IEnumerable<ProyectoRegistros.Models.Taller>

@{
    Layout = "LayoutProfe";
}
<header class="principal">
    <div class="izq">
        <i class="menu material-symbols-outlined">menu</i>
        <h2>Mis Talleres</h2>
    </div>
    <img id="ig2" src="~/img/Historial.png" />
</header>

<div class="filtros">
    <div class="buscador">
        <input type="search" placeholder="Nombre, edad, día..." />
    </div>
    <input id="verAlumno" class="verLista" type="button" value="Lista de alumnos" />
</div>

<div class="tablita">
    <div class="tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Días</th>
                    <th>Espacios</th>
                    <th>Horario</th>
                    <th>Edad</th>
                    <th>Costo</th>
                </tr>

            </thead>

            <tbody>
                @foreach (var taller in Model)
                {
                    <tr>
                        <td>@taller.Nombre</td>
                        <td>@taller.Dias</td>
                        <td>@taller.LugaresDisp</td>
                        <td>@taller.HoraInicio a @taller.HoraFinal</td>
                        <td>@taller.EdadMin a @taller.EdadMax</td>
                        <td>$@taller.Costo</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
