@using ProyectoRegistros.Models
@model ProyectoRegistros.Areas.Profe.Models.ViewModels.MisTalleresViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutProfe";
}

<header class="principal">
    <div class="izq">
        <i class="menu material-symbols-outlined">menu</i>
        <h2>Registros</h2>
    </div>
    <img id="ig2" src="~/img/Historial.png" />
</header>


<form id="datos-alumno" method="post" asp-action="RegistroForm" asp-controller="Profe">
    <h3>Datos del alumno</h3><br>
    <section>
        <input type="hidden" id="PagadoHidden" name="Pagado" value="false" />
        <input asp-for="Alumno.Id" type="hidden" id="Alumno_Id" value="@Model.Alumno.Id"/>

        <label>Nombre:</label><br>
        <input asp-for="Alumno.Nombre" type="text" placeholder="Escribir..." required oninvalid="this.setCustomValidity('Llena este campo')" oninput="this.setCustomValidity('')"><br>
        <label>Fecha de cumpleaños:</label><br>
        <input asp-for="Alumno.FechaCumple" type="date" required oninvalid="this.setCustomValidity('Llena este campo')" oninput="this.setCustomValidity('')"><br>
        <label>Dirección:</label><br>
        <input asp-for="Alumno.Direccion" type="text" placeholder="Escribir..." required oninvalid="this.setCustomValidity('Llena este campo')" oninput="this.setCustomValidity('')"><br>
    </section>
    <section>
        <label>Edad:</label><br>
        <input id="edadAlumno" asp-for="Alumno.Edad" type="number" placeholder="Escribir..." required oninvalid="this.setCustomValidity('Llena este campo')" oninput="this.setCustomValidity('')"><br>
        <label>Número de contacto:</label><br>
        <input asp-for="Alumno.NumContacto" type="text" placeholder="Escribir..." required oninvalid="this.setCustomValidity('Llena este campo')" oninput="this.setCustomValidity('')"><br>
    </section>

    <section id="datAlum-padeci">
        <span>
            <label>Padecimientos</label>
            <input id="chbpadecimiento" type="checkbox" />
        </span><br>
        <textarea id="txtpadecimientos" asp-for="Alumno.Padecimientos" placeholder="Escribir..." disabled></textarea><br>
    </section>


    <section>
        <label>Tutor:</label><br>
        <input asp-for="Alumno.Tutor" type="text" placeholder="Escribir..." required oninvalid="this.setCustomValidity('Llena este campo')" oninput="this.setCustomValidity('')"><br>
        <label>Email:</label><br>
        <input asp-for="Alumno.Email" type="email" placeholder="Escribir..." required oninvalid="this.setCustomValidity('Llena este campo')" oninput="this.setCustomValidity('')"><br>
    </section>
    <section>
        <label>Teléfono:</label><br>
        <input asp-for="Alumno.NumSecundario" type="text" placeholder="Escribir..." required oninvalid="this.setCustomValidity('Llena este campo')" oninput="this.setCustomValidity('')"><br>
    </section><br>


    <hr size="2" width="100%" style="grid-column: span 2;">

    <!--listaaaaaaaaaa-->
    <h3>Oferta de talleres</h3><br>
    <div id="contenedor-talleres">
        @foreach (var taller in Model.Talleres)
        {
            if (taller.LugaresDisp >= 1)
            {
                <div class="op-taller" data-edadmin="@taller.EdadMin" data-edadmax="@taller.EdadMax">
                    <input class="check" type="checkbox" name="TalleresSeleccionados" value="@taller.Id">
                    <label class="nombreTaller">@taller.Nombre</label>
                    <label hidden class="precioTaller">@taller.Costo</label>
                    <label class="label-dias">@taller.Dias</label>
                    <label class="label-horas">@taller.HoraInicio - @taller.HoraFinal</label>
                    <label>@taller.LugaresDisp</label>
                </div>
            }
        }


    </div><br>
    <div id="contenedor-abajo">

        <div class="tamaño">
            <label>Lista de espera</label>
            <select>
                @foreach (var t in Model.Talleres)
                {
                    if (t.LugaresDisp < 1)
                    {
                        <option>@t.Nombre<span>  @t.Dias</span> <span>  @t.HoraInicio - @t.HoraFinal</span></option>
                    }
                }
            </select>
        </div><br>
    </div><br>

    <div style="display: inline-flex; justify-content: space-between; width: 100%; grid-column: span 2;">
        <button type="button" class="buttons">Limpiar</button>
        <button id="finalizar" type="button" class="buttons">Finalizar</button>
    </div>
</form>

<div class="modal" id="modal-recibo">
    <div>
        <section class="datos-alumno">
            <h2>Confirmación de datos</h2>
            <img src="~/img/logo.png"/>
        </section>
        <hr size="0" width="99%" style="margin-top:3vh; box-shadow:-1px 3px 6px 1px rgba(172, 172, 176, 0.426)"><br>
        <section class="datos-alumno">
            <label>NOMBRE: </label><br>
            <label>CUMPLEAÑOS: </label><br>
            <label>DIRECCION: </label><br>
            <label>NÚMERO DE CONTACTO: </label><br>
            <label>PADECIMIENTOS: </label><br>
            <label>TUTOR: </label><br>
            <label>EMAIL: </label><br>
            <label>TELÉFONO: </label><br>
            <label>TALLERES REGISTRADOS: </label><br>
        </section>
        <section class="datos-alumno">
            <label id="nombre" name="Nombre">@Model.Alumno.Nombre</label><br>
            <label id="fechaCumple" name="FechaCumple">@Model.Alumno.FechaCumple</label><br>
            <label id="direccion" name="Direccion">@Model.Alumno.Direccion</label><br>
            <label id="numContacto" name="NumContacto">@Model.Alumno.NumContacto</label><br>
            <label id="padecimientos" name="Padecimientos">@Model.Alumno.Padecimientos</label><br>
            @* <label id="padecimientos" name="Dias">@Model.Alumno</label><br> *@
            <label id="tutor" name="Tutor">@Model.Alumno.Tutor</label><br>
            <label id="email" name="Email">@Model.Alumno.Email</label><br>
            <label id="numSecundario" name="NumSecundario">@Model.Alumno.NumSecundario</label><br>
            <label> </label><br>

            <label class="nombreTaller"></label>
            <label id="costo" name="Costo" class="precioTaller"></label>
        </section>
        <div id="talleres" name="talleres">
            

        </div>
            <hr size="2" width="99%"><br>
            <section id="donativo">
                <label for="chkDonativo" id="donativo-total"></label>
                <input id="chkDonativo" type="checkbox">
            </section>
        <div style="display: inline-flex; justify-content: space-between; width: 100%;">
            <button id="cancelar" type="button" class="buttons">Cancelar</button>
            <button id="aceptarRecibo" type="button" class="buttons">Aceptar</button>
        </div>
    </div>
</div>
@* checar lo de agg alumno, que si selecciona un taller, se quiten 
con los que serian a la misma hora


que se guarde con cita, ya que no ,llegaa a la base

en imprimir, hacerlo con un formato oficial de cclems *@