@model IEnumerable<ProyectoRegistros.Areas.Admin.Models.ViewModels.AlumnosViewModel>

<div class="tablita">
    <div class="tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tutor</th>
                    <th>Teléfono</th>
                    <th>Teléfono 2</th>
                    <th>Padecimientos</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var alumno in Model)
                {
                    <tr>
                        <td>@alumno.Nombre</td>
                        <td>@alumno.Tutor</td>
                        <td>@alumno.NumContacto</td>
                        <td>@alumno.NumSecundario</td>
                        <td>@alumno.Padecimientos</td>
                        <td>
                            <div class="botones">
                                <button type="button" class="btneditar" data-id="@alumno.Id" style="background:none; border:none; cursor:pointer;">
                                    <img src="~/img/edit.png" />
                                </button>

                                <button type="button" class="btneliminar" data-id="@alumno.Id" data-nombre="@alumno.Nombre" style="background:none; border:none; cursor:pointer;">
                                    <img src="~/img/X.png" />
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>