@model IEnumerable<ProyectoRegistros.Areas.Admin.Models.ViewModels.UsuariosViewModel>

<div class="tablita">
    <div class="tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Número Telefónico</th>
                    <th>Rol</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.Correo</td>
                        <td>@usuario.NumTel</td>
                        <td>@usuario.RolNombre</td>
                        <td>
                            <div class="botones">
                                <button type="button" class="btneditar usuario" data-id="@usuario.Id">
                                    <img src="~/img/edit.png" />
                                </button>
                                <button class="btneliminar usuario" type="button" data-id="@usuario.Id" data-nombre="@usuario.Nombre">
                                    <img src="~/img/X.png" />
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>