@using ProyectoRegistros.Models
@model ProyectoRegistros.Areas.Admin.Models.ViewModels.ExportarDatosVM
@{
    Layout = "LayoutAdmin";
}

<header class="principal">
    <div class="izq">
        <i class="menu material-symbols-outlined">menu</i>
        <h2>Exportar Datos</h2>
    </div>
    <img id="ig2" src="~/img/Historial.png" />
</header>

<div class="todo">
    <div class="filtrar">
        <h2>Filtrar por:</h2>
        <hr />

        <form asp-area="Admin" asp-controller="ExportarDatos" asp-action="DescargarDatos" method="post" data-ajax="false">
           

            <div class="datos">
                <h3>Profesor o profesores:</h3>
                <div class="custom-select">
                    <div class="select-header">
                        <span>Selecciona opciones</span>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="select-content">
                        <label>
                            <input type="checkbox" name="ProfesoresIds" value="0" /> Todos
                        </label>
                        @foreach (var profesor in (ViewBag.Profesores ?? new List<Usuario>()))
                        {
                            <label>
                                <input type="checkbox" name="ProfesoresIds" value="@profesor.Id" />
                                @profesor.Nombre
                            </label>
                        }

                    </div>
                </div>

                <hr>

                <h3>Cantidad de alumnos:</h3>
                <input type="number" name="CantidadAlumnosMax" max="100" min="0" placeholder="Ej. 20" />
                <hr>

                <h3>Taller o talleres:</h3>
                <div class="custom-select">
                    <div class="select-header">
                        <span>Selecciona opciones</span>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="select-content">
                        <label>
                            <input type="checkbox" name="TalleresIds" value="0" /> Todos
                        </label>
                        @foreach (var taller in (ViewBag.Talleres ?? new List<Taller>()))
                        {
                            <label>
                                <input type="checkbox" name="TalleresIds" value="@taller.Id" />
                                @taller.Nombre
                            </label>
                        }

                    </div>
                </div>

                <hr>

                <h3>Días:</h3>
                <div class="custom-select">
                    <div class="select-header">
                        <span>Selecciona opciones</span>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="select-content">
                        <label><input type="checkbox" name="Dias" value="Todos" /> Todos</label>
                        <label><input type="checkbox" name="Dias" value="Lunes" /> Lunes</label>
                        <label><input type="checkbox" name="Dias" value="Martes" /> Martes</label>
                        <label><input type="checkbox" name="Dias" value="Miércoles" /> Miércoles</label>
                        <label><input type="checkbox" name="Dias" value="Jueves" /> Jueves</label>
                        <label><input type="checkbox" name="Dias" value="Viernes" /> Viernes</label>
                        <label><input type="checkbox" name="Dias" value="Cita" /> Cita</label>

                    </div>
                </div>

                <hr>

                <h3>Horas:</h3>
                <div class="custom-select">
                    <div class="select-header">
                        <span>Selecciona opciones</span>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="select-content">
                        @foreach (var rango in (ViewBag.Horas ?? new List<string>()))
                        {
                            <label>
                                <input type="checkbox" name="Horas" value="@rango" />
                                @rango
                            </label>
                        }
                    </div>
                </div>

                <hr>

                <div style="text-align:center; margin-top:20px;">
                    <button class="verArchivo" type="submit">Ver archivo</button>
                </div>
            </div>
        </form>
    </div>
</div>
