@model IEnumerable<ProyectoRegistros.Areas.Admin.Models.ViewModels.TalleresViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "LayoutAdmin";
}

<!--MODAL PARA AGREGAR-->
<div class="modal" id="modal-AddTaller">
    <form asp-area="Admin" asp-controller="Home" asp-action="AgregarTaller" method="post">
        <button class="cerrar" type="button">X</button><br>
        <div id="acomodar">
            <i class="material-symbols-outlined">person</i>
            <h2>Agregar Taller</h2>
        </div><br>

        <label>Nombre:</label><br>
        <input class="inputForms" name="Nombre" type="text" placeholder="Escribir..." required><br>

        <label>Días:</label><br>
        <input class="inputForms" name="Dias" type="text" placeholder="Escribir..." required><br>

        <label>Espacios:</label><br>
        <input class="inputForms" name="LugaresDisp" type="number" min="0" placeholder="Escribir..." required><br>

        <div class="col">
            <label>Horario inicio:</label><br>
            <input class="inputForms" name="HoraInicio" type="time" style="width:25%;" required><br>
            <label>Horario final:</label><br>
            <input class="inputForms" name="HoraFinal" type="time" style="width:25%;" required><br>
        </div>

        <div class="col">
            <label>Edad mínima:</label><br>
            <input class="inputForms" name="EdadMin" style="width:15%;" min="0" type="number" placeholder="..." required><br>
            <label>Edad máxima:</label><br>
            <input class="inputForms" name="EdadMax" style="width:15%;" min="0" type="number" placeholder="..."><br>
        </div>

        <label>Profesor:</label><br>
        <select class="inputForms" name="IdUsuario" style="height: 3.5vh;" required>
            <option value="">Seleccione un profesor...</option>
            @foreach (var profesor in ViewBag.Profesores)
            {
                <option value="@profesor.Id">@profesor.Nombre</option>
            }
        </select><br>

        <label>Costo:</label><br>
        <input class="inputForms" name="Costo" type="number" step="0.01" placeholder="Escribir..." required><br>
        <div class="error">
        </div>

        <div style="display: flex; justify-content: center;">
            <button type="submit" class="buttons">Guardar</button>
        </div>
    </form>
</div>


<!--MODAL PARA EDITAR-->

<div class="modal" id="modal-EditTaller">
    <form asp-area="Admin" asp-action="EditarTaller" asp-controller="Home" id="formEditTaller" method="post">
        <button class="cerrar" type="button">X</button><br>
        <div id="acomodar">
            <i class="material-symbols-outlined">person</i>
            <h2>Editar Taller</h2>
        </div><br>
        <input type="hidden" id="EditId" name="Id" />

        <label>Nombre:</label><br>
        <input class="inputForms" name="Nombre" id="editNombre" type="text" placeholder="Escribir..."><br>
        <label>Dias:</label><br>
        <input name="Dias" class="inputForms" id="editDias" type="text" placeholder="Escribir..."><br>

        <label>Espacios:</label><br>
        <input name="Lugares_Disp" class="inputForms" id="editEspacios" type="number" min="0" placeholder="Escribir..."><br>

        <div class="col">
            <label>Horario inicio:</label><br>
            <input name="Horario_inicio" class="inputForms" id="editHoraInicio" type="time" style="width:25%;"><br>
            <label>Horario final:</label><br>
            <input name="Horario_final" class="inputForms" id="edit-HoraFinal" type="time" style="width:25%;"><br>


        </div>
        <div class="col">
            <label>Edad minima:</label><br>
            <input name="Edad_min" class="inputForms" id="editEdadMin" style="width:15%;" min="0" type="number" placeholder="..."><br>
            <label>Edad máxima:</label><br>
            <input name="Edad_max" class="inputForms" id="editEdadMax" style="width:15%;" min="0" type="number" placeholder="..."><br>


        </div>

        <label>Profesor:</label><br>
        <select class="inputForms" name="IdUsuario" style="height: 3.5vh;">
            <option value="">Seleccione un profesor...</option>
            @foreach (var profesor in ViewBag.Profesores)
            {
                <option value="@profesor.Id">@profesor.Nombre</option>
            }
        </select><br>

        <label>Costo:</label><br>
        <input name="Costo" class="inputForms" id="editCosto" type="number" min="0" placeholder="Escribir..."><br>
        <input type="hidden" name="Estado" value="1" />

        <div asp-validation-summary="All" class="error">

        </div>
        <div style="display: flex; justify-content: center;">
            <button type="submit" style="display: flex; justify-content: center;" class="buttons">Guardar</button>
        </div>
    </form>
</div>

<!--MODAL PARA ELIMINAR-->
<div class="modal" id="modal-DeleteTaller">
    <form asp-area="Admin" asp-action="EliminarTaller" asp-controller="Home" style=" margin: 33vh auto; ">
        <button class="cerrar" type="button">X</button><br>
        <fieldset>
            <legend>
                <h2>¿Desea eliminar este taller?</h2>
                <label style="color: red; font-size: 3vh;">AcuarelaKids</label>
            </legend>
        </fieldset>

        <div style="margin: 0vh 0 0 1vw; justify-content: flex-end; display: flex;">
            <button type="submit" class="buttons">Confirmar</button>
        </div>
    </form>
</div>





<header class="principal">
    <div class="izq">
        <i class="menu material-symbols-outlined">menu</i>
        <h2>Talleres</h2>
    </div>
    <img id="ig2" src="~/img/Historial.png" />
</header>


<div class="filtros">
    <div class="buscador">
        <form method="get" action="@Url.Action("MyAction", "MyController")">
        <input type="search"id="search" placeholder="Nombre, edad, día..." />
        </form>
        <div class="checar">
            <input type="checkbox" id="talleresActuales" />
            <label for="talleresActuales">Ver solo talleres actuales</label>
        </div>
    </div>


    <div class="BotonesTaller">
        <input id="aggTaller" type="button" value="Crear taller" />
        <input id="verAlumno" class="verLista" type="button" href="/Admin/Home/Alumnos" value="Lista de alumnos" />
    </div>

</div>


<div class="tablita">
    <div class="tabla-scroll">

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Días</th>
                    <th>Espacios</th>
                    <th>Horario</th>
                    <th>Edad</th>
                    <th>Profesor</th>
                    <th>Costo</th>
                    <th>Opciones</th>
                </tr>

            </thead>

            <tbody>
                @foreach (var taller in Model)
                {
                    <tr>
                        <td>@taller.Nombre</td>
                        <td>@taller.Dias</td>
                        <td>@taller.Espacios</td>
                        <td>@taller.Horario</td>
                        <td>@taller.Edad</td>
                        <td>@taller.Profesor</td>
                        <td>$@taller.Costo</td>
                        <td>
                            <div class="botones">
                                <a href="#" data-id="@taller.Id">
                                    <img class="btneditar" src="~/img/edit.png" />
                                </a>
                                <a href="@Url.Action("Eliminar", "Home", new { id = taller, area = "Admin" })" class="btneliminar">
                                    <img class="btneliminar" src="~/img/X.png" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

