@model IEnumerable<ProyectoRegistros.Models.Usuario>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "LayoutAdmin";
}


<!--MODAL PARA AGREGAR-->
<div class="modal" id="modal-AddUsuario">
    <form asp-area="Admin" asp-controller="Usuarios" asp-action="AgregarUsuario" method="post" style="margin: 18vh auto;">
        <button class="cerrar" type="button">X</button><br>
        <div id="acomodar">
            <i class="material-symbols-outlined">person</i>
            <h2>Agregar Usuario</h2>
        </div><br>

        <label>Nombre:</label><br>
        <input class="inputForms" type="text" name="Nombre" placeholder="Escribir..." required><br>

        <label>Correo Electrónico:</label><br>
        <input class="inputForms" type="email" name="Correo" placeholder="Escribir..." required><br>

        <label>Número Telefónico:</label><br>
        <input class="inputForms" type="text" name="NumTel" placeholder="Escribir..." required><br>

        <label>Contraseña:</label><br>
        <input class="inputForms" type="text" name="Contraseña" placeholder="Escribir..." required><br>

        <label>Rol:</label><br>
        <select class="inputForms" name="IdRol" style="height: 3.5vh;" required>
            <option value="1">Administrador</option>
            <option value="2">Profesor</option>
            <option value="3">Visitante</option>
        </select>

        <div style="display: flex; justify-content: center;">
            <button style="margin: -0vh 0; position:static;" type="submit" class="buttons">Guardar</button>
        </div>
    </form>
</div>

<!--MODAL PARA EDITAR-->
<div class="modal" id="modal-EditUsuario">
    <form asp-area="Admin" asp-controller="Usuarios" asp-action="EditarUsuario" method="post" style="margin: 18vh auto;">
        <input type="hidden" name="Id" id="EditUsuarioId" />
        <button class="cerrar" type="button">X</button><br>
        <div id="acomodar">
            <i class="material-symbols-outlined">person</i>
            <h2>Editar Usuario</h2>
        </div><br>

        <label>Nombre:</label><br>
        <input class="inputForms" id="editNombre" type="text" name="Nombre" required><br>

        <label>Correo Electrónico:</label><br>
        <input class="inputForms" id="editCorreo" type="email" name="Correo"required><br>

        <label>Número Telefónico:</label><br>
        <input class="inputForms" id="editTel" type="text" name="NumTel" required><br>

        <label>Contraseña:</label><br>
        <input class="inputForms" id="editContraseña" type="text" name="Contraseña" placeholder="Escribir..." required><br>


        <label>Rol:</label><br>
        <select class="inputForms" name="IdRol" id="editRol" style="height: 3.5vh;">
            <option value="1">Administrador</option>
            <option value="2">Profesor</option>
            <option value="3">Visitante</option>
        </select>

        <div style="display:flex; justify-content:center;">
            <button style="margin: -0vh 0; position:static;" type="submit" class="buttons">Guardar</button>
        </div>
    </form>
</div>

<!--MODAL PARA ELIMINAR-->
<div class="modal" id="modal-DeleteUsuario">
    <form asp-area="Admin" asp-action="EliminarUsuario" asp-controller="Usuarios" id="formDeleteUsuario" method="post" style="margin: 33vh auto;">
        <input type="hidden" id="DeleteUsuarioId" name="id" />
        <button class="cerrar" type="button">X</button><br>
        <fieldset>
            <legend>
                <h2>¿Desea eliminar este usuario?</h2>
                <label style="color: red; font-size: 3vh;"></label>
            </legend>
        </fieldset>
        <div style="margin: 0vh 0 0 1vw; justify-content: flex-end; display: flex;">
            <button type="submit" class="buttons">Confirmar</button>
        </div>
    </form>
</div>





<header class="principal">
    <div class="izq">
        <i class="menu material-symbols-outlined">menu</i>
        <h2>Usuarios</h2>
    </div>
    <img id="ig2" src="~/img/Historial.png" />
</header>


<div class="filtros2">
    <div class="buscador2">
        <!--<img src="../img/lupa1.png" />-->
        <input id="" type="search" placeholder="Buscar..." />

    </div>



    <input id="aggUsuario" type="button" value="Crear usuario" />
</div>

<div class="tablita">
    <div class="tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Número Telefónico</th>
                    <th>Opciones</th>
                </tr>

            </thead>

            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.Correo</td>
                        <td>@usuario.NumTel</td>
                        <td>
                            <div class="botones">
                                <button type="button" class="btneditar usuario" data-id="@usuario.Id">
                                    <img src="~/img/edit.png" />
                                </button>

                                <button class="btneliminar usuario" type="button" data-id="@usuario.Id" data-nombre="@usuario.Nombre">
                                    <img  src="~/img/X.png" />
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
