@model IEnumerable<ProyectoRegistros.Models.Usuario>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "LayoutAdmin";
}


<!--MODAL PARA AGREGAR-->

<div class="modal" id="modal-AddTaller">
    <form form asp-area="Admin" asp-action="AgregarUsuario" asp-controller="Usuarios" method="post" style=" margin: 18vh auto; " enctype="multipart/form-data">
        <button class="cerrar" type="button">X</button><br>
        <div id="acomodar">
            <i class="material-symbols-outlined">person</i>
            <h2>Agregar Usuario</h2>
        </div><br>

        <label>Nombre:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..."@*  asp-for="Usuarios.Nombre" *@ required><br>
        <label>Correo Electrónico:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..." required><br>
        <label>Número Telefónico:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..." required><br>
        <label>Rol:</label><br>
        <select class="inputForms" style="height: 3.5vh;" required>
            <option>Profesor/a</option>
        </select>

        <div class="error">
            <p>El nombre del taller ya existe!</p>
            <p>El nombre del taller ya existe!</p>
            <p>El nombre del taller ya existe!</p>
            <p>El nombre del taller ya existe!</p>
            <p>El nombre del taller ya existe!</p>
        </div>
        <div style="display: flex; justify-content: center;">
            <button style="margin: -0vh 0; position:static;" type="submit" class="buttons">Guardar</button>
        </div>
    </form>
</div>


<!--MODAL PARA EDITAR-->

<div class="modal" id="modal-EditTaller">
    <form style=" margin: 18vh auto; ">
        <button class="cerrar" type="button">X</button><br>
        <div id="acomodar">
            <i class="material-symbols-outlined">person</i>
            <h2>Editar Usuario</h2>
        </div><br>

        <label>Nombre:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..."><br>
        <label>Correo Electrónico:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..."><br>
        <label>Número Telefónico:</label><br>
        <input class="inputForms" type="text" placeholder="Escribir..."><br>
        <label>Rol:</label><br>
        <select class="inputForms" style="height: 3.5vh;">
            <option>Profesor/a</option>
        </select>
        <div class="error">
            <p>El nombre del taller ya existe!</p>
            <p>El nombre del taller ya existe!</p>
            <p>El nombre del taller ya existe!</p>
            <p>El nombre del taller ya existe!</p>
            <p>El nombre del taller ya existe!</p>
        </div>
        <div style="display:flex; justify-content:center;">
            <button style="margin: -0vh 0; position:static;" type="submit" class="buttons">Guardar</button>
        </div>
    </form>
</div>

<!--MODAL PARA ELIMINAR-->
<div class="modal" id="modal-DeleteTaller">
    <form style=" margin: 33vh auto; ">
        <button class="cerrar" type="button">X</button><br>
        <fieldset>
            <legend>
                <h2>¿Desea eliminar este usuario?</h2>
                <label style="color: red; font-size: 3vh;">Selena García</label>
            </legend>
        </fieldset>
        <div style="margin: 0vh 0 0 1vw; justify-content: flex-end; display: flex;">
            <button type="submit" class="buttons">Confirmar</button>
        </div>
    </form>
</div>





<header class="principal">
    <div class="izq">
        <i class="menu material-symbols-outlined">menu</i>
        <h2>Usuarios</h2>
    </div>
    <img id="ig2" src="~/img/Historial.png" />
</header>


<div class="filtros2">
    <div class="buscador2">
        <!--<img src="../img/lupa1.png" />-->
        <input id="" type="search" placeholder="Buscar..." />

    </div>



    <input id="aggUsuario" type="button" value="Crear usuario" />
</div>

<div class="tablita">
    <div class="tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Número Telefónico</th>
                    <th>Opciones</th>
                </tr>

            </thead>

            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.Correo</td>
                        <td>@usuario.NumTel</td>
                        <td>
                            <div class="botones">
                                <a href="@Url.Action("Editar", "Home", new { id = usuario.Id, area = "Admin" })">
                                    <img class="btneditar" src="~/img/edit.png" />
                                </a>
                                <a href="@Url.Action("Eliminar", "Home", new { id = usuario.Id, area = "Admin" })" class="btneliminar">
                                    <img class="btneliminar" src="~/img/X.png" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
